/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# CustomRadioWithLogo
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.CustomRadioWithLogo {
  position: relative;
  width: 100%;
}
.CustomRadioWithLogo label {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  width: 100%;
  color: var(--D_grey);
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid var(--Grey-blue);
  background: var(--Silver);
  transition: var(--main-transition);
}
.CustomRadioWithLogo input:checked + label {
  border: 1px solid var(--Primary-Navy);
}
.CustomRadioWithLogo label::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid var(--Grey-blue);
  opacity: 0.1;
  border-radius: 2px;
  right: 10px;
  top: 20px;
  transform: translateY(-50%);
  transition: var(--main-transition);
}
.CustomRadioWithLogo label::after {
  position: absolute;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  right: 10px;
  top: 20px;
  transform: translateY(-50%) scale(0) rotate(360deg);
  transform-origin: center center;
  color: #e6f8fc;
  min-width: 10px;
  width: 18px;
  height: 18px;
  background-image: url("../../../../public/Icons/Check.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--Primary-Navy);
  border: 1px solid var(--Primary-Navy);
  font-size: 100px;
  border-radius: 0%;
  transition: var(--main-transition);
}
.CustomRadioWithLogo input:checked + label::after {
  border-radius: 2px;
  opacity: 1;
  transform: translateY(-50%);
  color: #fff;
}

.CustomRadioWithLogo input:checked + label::before {
  opacity: 1;
  border-color: var(--Primary-Navy);
}
.CustomRadioWithLogo label svg,
.CustomRadioWithLogo label img {
  position: relative;
  width: 40px;
  height: 40px;
  color: var(--Neutral-Grey);
}
.CustomRadioWithLogo input:checked + label svg,
.CustomRadioWithLogo input:checked + label img {
  scale: 1.1;
}
.CustomRadioWithLogo input:checked + label svg,
.CustomRadioWithLogo input:checked + label svg {
  color: var(--Primary-Navy);
}
