/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Loding
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Loding {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 9999;
  background-color: var(--dark-color);
  width: 100%;
  height: 100vh;
}
.Loding .box-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  color: var(--purple-500);
}

.Loding .box-content span {
  position: relative;
  font-size: 40px;
  font-weight: 900;
}
.Loding .box-content .LoadingFeachData {
  width: 10px;
  height: 10px;
  transform: translateY(100%);
  border-radius: 50%;
  background: var(--purple-500);
  position: relative;
}
