/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-transition: all 0.5s ease-in-out;
  --main-border-radius: 0.5rem;
  --main-padding-top: 50px;
  --main-padding-bottom: 50px;
}
