/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# CustomCheckBoxInput
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.CustomCheckBoxInput {
  position: relative;
  min-width: 150px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.CustomCheckBoxInput label {
  position: relative;
  font-size: 13px;
  font-weight: 300;
  padding-inline-start: 25px;
  color: var(--main-label-color);
  cursor: pointer;
}
.CustomCheckBoxInput label::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--main-checkbox-bg-color);
  border: 1px solid var(--main-checkbox-border-color);
  border-radius: 2px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
}

.CustomCheckBoxInput label::after {
  position: absolute;
  content: "\2713";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  top: 50%;
  transform: translateY(-50%) rotate(-900deg) scale(0);
  color: var(--main-checkbox-checked-icon-color);
  width: 18px;
  height: 18px;
  background-color: var(--main-checkbox-checked-bg-color);
  border: 1px solid var(--main-checkbox-checked-border-color);
  border-radius: 2px;
  font-size: 100px;
  transition: var(--main-transition);
}
.CustomCheckBoxInput.ar label::before,
.CustomCheckBoxInput.ar label::after {
  right: 0;
}
.CustomCheckBoxInput.en label::before,
.CustomCheckBoxInput.en label::after {
  left: 0;
}
.CustomCheckBoxInput input:checked + label::after {
  font-size: 8px;
  transform: translateY(-50%);
}
